.padding{
    padding-top: 5rem;
    max-width: 80%;
    display: flex;
    justify-content: center;
    margin-left:10%;
}

.header {
    color: rgb(255, 130, 0, 0.95);
    margin: 1.5rem 0rem 1rem;
  }

.label{
    border-radius: 10px;
    border-width: 10rem;
    text-align: start;
    color: white;
}


.card{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    height: fit-content;
    flex-direction: column;
    display: flex;
    align-items: center;
}
.content {
    padding: 1rem;
    max-height: 60vh;
    overflow: auto;
    width: 90%;
    text-align: center;
  }

.actions{
    text-align: center;
}
.footer{
    width: 100%;
    display: flex;
    justify-content:  center;
    flex-wrap: wrap;
    margin:  1.5rem 0rem 1.5rem;
}



