:root {
  --surface-color: #fff;
  --curve: 40;
}

.button {
  padding: 10px 30px;
}
.filter__dropdown:hover .filter__dropdownContent {
  display: block;
}

.filter .button:hover,
.button:active {
  background: rgb(3, 3, 3);
  border-color: rgb(255, 130, 0);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.26);
  color: rgb(255, 130, 0);
}
.searchInput {
  border: none;
  border-radius: 20px;
  background-color: rgb(255, 130, 0);
  padding: 5px 0px;
  font-size: 16px;
  color: #333;
  outline: none;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  text-align: center;
}

.searchInput::placeholder {
  color: black;
}

.searchInput:focus {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.9);
}

.filter {
  margin: 4.5rem 0rem 2rem 0rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  width: fit-content;
  height: fit-content;
}

.filter__card {
  display: flex;
  align-items: center;
}

@media (max-width: 650px) {
  .filter__card {
    flex-direction: column;
  }

  .filter__card>*:not(input) {
    padding-top: 15px;
  }
}

.filter p {
  color: white;
  font-weight: bold;
  cursor: pointer;
  margin: 0px 15px 0px 5px
}

.filter__container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: fit-content;
}


.filter__dropdown p.active {
  color: rgb(255, 130, 0);
}

.filter__dropdown {
  position: relative;
  display: inline-block;
}

.filter__dropdown p {
  color: white;
  font-weight: bold;
  cursor: pointer;
  margin: 0px 15px 0px 15px;
  text-align: center;
}

.filter__dropdownContent {
  display: none;
  position: absolute;
  left: -50px;
  background-color: #000000;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 99999999999999;
  border-radius: 20px;
}

label {
  color: white;
}

.filter__dropdownContent input {
  margin-bottom: 0.5rem;
}

.filter__dropdown:hover .filter__dropdownContent {
  display: block;
}

.filter__dropdown p.active {
  color: rgb(255, 130, 0);
}

.circle {
  height: fit-content;
  width: fit-content;
  z-index: 10;
  border-radius: 50%;
  fill: #6A515E;
  backdrop-filter: blur(10px);
  opacity: 0.8;
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  left: 83%;
  top: 7%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heart {
  z-index: 1000000;
  background-color: transparent;
  color: black;
}

.heart:hover {
  color: red;
  cursor: pointer;
  fill: red;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  margin: 0rem 5vw 0rem;
  padding: 0;
  list-style-type: none;
}

.card {
  position: relative;
  display: block;
  height: 100%;
  border-radius: calc(var(--curve) * 1px);
  overflow: hidden;
  text-decoration: none;
}
.clearFilters{
  padding-top: 15px;
}
.card__image {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.content {
  height: 100%;
  overflow: auto;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.card__overlay {
  position: absolute;
  height: 320px;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  border-radius: calc(var(--curve) * 1px);
  background-color: rgba(0, 0, 0, 0.9);
  transform: translateY(100%);
  transition: .2s ease-in-out;
}

.card:hover .card__overlay {
  transform: translateY(0);
}

.card__header {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2em;
  padding: 2em;
  border-radius: calc(var(--curve) * 1px) 0 0 0;
  background-color: rgb(255, 95, 9);
  transform: translateY(-100%);
  transition: .2s ease-in-out;
}

.card__arc {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 99.6%;
  right: 0;
  z-index: 1;
}

.card__arc path {
  fill: rgb(255, 95, 9);
  d: path("M 40 80 c 22 0 40 -22 40 -40 v 50 Z");
}

.card:hover .card__header {
  transform: translateY(0);
}

.card__thumb {
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.card__title {
  font-size: 1em;
  margin: 0 0 .3em;
  color: white;
}

.card__status {
  font-size: .8em;
  color: #D7BDCA;
}

.card__description {
  padding: 0 2em 2em;
  margin: 0;
  color: #ffffff;
  height: 200px;
  display: flex;
  align-items: center;
  justify-items: center;



  flex-direction: column;
  align-items: flex-start;

  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: auto;

}

.search :hover {
  cursor: pointer;
}

.search__icon {
  border: #333;
}

.content__rows {
  width: 100%;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.custom__scrollbar::-webkit-scrollbar {
  width: 2px;
  /* Adjust the width as per your preference */
}
