
.container{
  overflow: auto;
  height: 91vh;
  padding-bottom: 2rem;
}

.error{
  background-color: rgb(255, 130, 0, 0.95);
}

.image {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 15px;
}